<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include("parts/head-common") %>
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <link rel="stylesheet" href="/styles/pages/index.css" />

    <script src="/scripts/pages/index.js" type="module" defer></script>
  </head>
  <body id="page-index">
    <header class="page-header">
      <div class="content-container">
        <section id="top" class="animate-up">
          <h2 class="sr-only" lang="en">Homepage</h2>

          <img src="/images/logo.svg" id="logo" alt="JobsCalc. Logotipo" />
          <img
            src="/images/logo-alt.svg"
            id="logo-alt"
            alt="JobsCalc. Logotipo"
          />

          <span id="notification">
            <img src="/images/alert-octagon.svg" alt="Alerta. Ilustração." />
            <% if (freeHours <= 0) { %> Você não possui horas livres <% } else
            if (freeHours === 1) { %> Você tem <%= freeHours %> hora livre no
            seu dia <% } else { %> Você tem <%= freeHours %> horas livres no seu
            dia <% } %>
          </span>

          <div>
            <a href="/profile" id="avatar-profile">
              <p><%= profile.name %><span>Ver perfil</span></p>
              <img src="<%= profile.avatar %>" alt="" />
            </a>

            <%- include("parts/theme-switcher", { switcherClass: "v-switcher" })
            %>
          </div>
        </section>

        <div class="separator"></div>

        <section id="summary" class="animate-up delay-1">
          <h2 class="sr-only">Sumário</h2>

          <div class="info">
            <p class="total">
              <strong><%= statusesCount.total %></strong>
              <% if (statusesCount.total === 1) { %> Projeto ao total <% } else
              { %> Projetos ao total <% } %>
            </p>

            <p class="in-progress">
              <strong><%= statusesCount.progress %></strong>
              Em andamento
            </p>

            <p class="finished">
              <strong><%= statusesCount.done %></strong>
              <% if (statusesCount.done === 1) { %> Encerrado <% } else { %>
              Encerrados <% } %>
            </p>
          </div>
          <a class="button orange" href="/job">
            <span aria-hidden="true">
              <img src="/images/plus-24.svg" alt="" />
            </span>

            <p>Adicionar novo <span lang="en">Job</span></p>
          </a>
        </section>
      </div>
    </header>

    <main class="content-container">
      <section class="animate-up delay-2">
        <h1 class="sr-only">Trabalhos</h1>

        <div class="cards">
          <% jobs.forEach((job) => { %>
          <div class="card <%= job.status %>" data-id="<%= job.id %>">
            <div class="id column"><%= job.id %></div>

            <div class="name column"><%= job.name %></div>

            <div class="deadline column">
              <span>Prazo</span>

              <% if (job.status == "unstarted") { %>
              <p
                class="pointer"
                title="O prazo para a entrega de um projeto é definido no momento em que o mesmo é iniciado"
              >
                Indefinido
                <img
                  src="/images/help.svg"
                  alt="Obter mais informações. Ilustração."
                />
              </p>
              <% } else { %>
              <p>
                <% if (job.hasLessThanOneDayToFinish) { %> <%=
                job.remainingTime%> <%= job.typeOfTimeRemaining %> para a
                entrega <% } else if (job.status == "progress") { %> <%=
                job.remainingTime %> <%= job.typeOfTimeRemaining %> para a
                entrega <% } else { %> Prazo encerrado <% } %>
              </p>
              <% } %>
            </div>

            <div class="amount column">
              <span>Valor</span>

              <% if (job.unformattedBudget) { %>
              <p><%= job.budget %></p>
              <% } else { %>
              <p
                class="pointer"
                title="Preencha os dados do seu perfil para ter acesso ao valor de seus projetos"
              >
                Indefinido
                <img
                  src="/images/help.svg"
                  alt="Obter mais informações. Ilustração."
                />
              </p>
              <% } %>
            </div>

            <div class="status badge column">
              <%= job.status == "unstarted" ? "Não iniciado" : job.status ==
              "done" ? "Encerrado" : "Em andamento" %>
            </div>

            <div class="actions column flex">
              <p class="sr-only">Ações</p>

              <% if (job.status == "unstarted") { %>
              <form action="/job/start/<%= job.id %>" method="POST">
                <button
                  type="submit"
                  class="start button white"
                  title="Iniciar Job"
                >
                  <img src="/images/play.svg" alt="" />
                  <p class="sr-only">Iniciar <span lang="en">Job</span></p>
                </button>
              </form>
              <% } %>

              <a
                href="/job/edit/<%= job.id %>"
                class="edit button white"
                title="Editar Job"
              >
                <img src="/images/edit-24.svg" alt="" />
                <p class="sr-only">Editar <span lang="en">Job</span></p>
              </a>

              <button class="delete button white" title="Excluir Job">
                <img src="/images/trash-24.svg" alt="" />
                <p class="sr-only">Excluir <span lang="en">Job</span></p>
              </button>
            </div>
          </div>
          <% }) %>
        </div>
        <!-- end cards -->
      </section>
    </main>
    <!-- end container -->

    <%- include("parts/page-modal", { job: "" }) %>
    <!-- action added by script -->
  </body>
</html>
