<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include("parts/head-common") %>
    <link rel="stylesheet" href="/styles/partials/forms.css" />
    <link rel="stylesheet" href="/styles/pages/profile.css" />

    <script src="/scripts/profile.js" defer></script>
  </head>
  <body id="page-profile">
    <%- include("parts/page-header", { title: "Meu Perfil" }) %>

    <div id="profile" class="container animate-up delay-2">
      <aside class="card">
        <img src="<%= profile.avatar %> " alt="<%= profile.name %> " />
        <h2><%= profile.name %></h2>
        <p>
          O valor da sua hora é <br />
          <strong
            >R$ <%= String(profile["value-per-hour"]).replace(".", ",") %>
          </strong>
        </p>
        <button class="button green" form="form-profile" type="submit">
          Salvar dados
        </button>
      </aside>
      <main>
        <form action="/profile" method="POST" id="form-profile">
          <fieldset>
            <legend>Dados do perfil</legend>
            <div class="separator light"></div>

            <div class="input-group">
              <div class="input-wrapper">
                <label for="name">Nome</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  value="<%= profile.name %> "
                />
              </div>

              <div class="input-wrapper">
                <label for="avatar">Link da foto</label>
                <input
                  placeholder="https://"
                  type="url"
                  id="avatar"
                  name="avatar"
                  value="<%= profile.avatar %> "
                />
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Planejamento</legend>
            <div class="separator light"></div>

            <div class="input-group">
              <div class="input-wrapper">
                <label for="monthly-budget"
                  >Quanto eu <br />quero ganhar por mês?</label
                >
                <input type="text" step="0.1" id="monthly-budget"
                name="monthly-budget" value="<%= profile["monthly-budget"] %>"
                placeholder="R$" />
              </div>

              <div class="input-wrapper">
                <label for="hours-per-day"
                  >Quantas horas <br />
                  quero trabalhar por dia?</label
                >
                <input type="number" id="hours-per-day" name="hours-per-day"
                value="<%= profile["hours-per-day"] %>" />
              </div>
            </div>

            <div class="input-group">
              <div class="input-wrapper">
                <label for="days-per-week"
                  >Quantos dias <br />quero trabalhar por semana?</label
                >
                <input type="number" id="days-per-week" name="days-per-week"
                value="<%= profile["days-per-week"] %>" />
              </div>

              <div class="input-wrapper">
                <label for="vacation-weeks-per-year"
                  >Quantas semanas/ano <br />
                  eu quero tirar de férias?</label
                >
                <input type="number" id="vacation-weeks-per-year"
                name="vacation-weeks-per-year" value="<%=
                profile["vacation-weeks-per-year"] %>" />
              </div>
            </div>
          </fieldset>
        </form>
      </main>
    </div>
    <!-- end container -->
  </body>
</html>
